.slot {
  width: 90px;
  height: 90px;
  background: #111;
  border: 3px solid #444;
  border-radius: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 48px;
  transition: all 0.3s ease;
}


/* jรก melhora no mobile */
@media (max-width: 480px) {
  .slot {
    width: 70px;
    height: 70px;
    font-size: 42px;
  }
}

.win-slot {
  animation: winGlow 0.8s ease-in-out infinite alternate;
  border-color: gold;
  box-shadow: 0 0 15px gold;
}

@keyframes winGlow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
